Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

In [3]:
a=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
newList = sorted(a, key = lambda x : x[1],reverse=True)

In [4]:
newList

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.

In [15]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Y= list(map(lambda x: x*x, a))

In [16]:
Y

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

In [19]:
A=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
B=tuple(map(lambda x: str(x),A))

In [20]:
B

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [7]:
from functools import reduce
nums=[]
for i in range(1,26):
  nums.append(i)
nums_product = reduce( (lambda x, y: x * y), nums)

nums_product

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

In [13]:
num1=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
result = list(filter(lambda x: (x % 2 == 0) and (x % 3 == 0), num1))
print("Numbers divisible by 2 and 3 are",result)

Numbers divisible by 2 and 3 are [6, 60, 90, 120]

In [10]:
num1=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
op=[]
for i in num1:
  if i%2==0 and i%3==0:
    op.append(i)

print(op)

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.

In [15]:
list1= ['python', 'php', 'aba', 'radar', 'level']
result = list(filter(lambda x: (x == "".join(reversed(x))), list1))
result

['php', 'aba', 'radar', 'level']