In [1]:
# creating variable containing following data types
A='VIPI',[1,2,3],23.33,(23,4,45,67)

In [2]:
A

('VIPI', [1, 2, 3], 23.33, (23, 4, 45, 67))

In [3]:
# 2. check data type of following variable
var1=''
var2='[Ds,ML,Python]'
var3=['DS','ML','Python']
var4=1.0

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [4]:
# / -- This is type of airthmatic operator which use for divsion.

a=10/2

print(a)

# % -- an inbuilt operator that returns the remaining numbers by dividing the first number from the second.

b=10%2

print(b)

# // -- an inbuilt floor operator this operator will divide the first argument by the second and round the result.

c=10//2

print(c)

# ** -- an inbuilt power operator The operator that can be used to perform the exponent arithmetic in Python is ** Given two real number operands, one on each side of the operator, it performs the exponential calculation ( 3**3 translates to 3*3*3).

d=3**3

print(d)

5.0
0
5
27

In [5]:
# creat a list of lenght of 10 of your choice containing multiple types of data  using for loop print the elements and its data types

List1=[1,2,'vip',True,1.00,[2,3,4],False,(1,23,4),23,45]

for i in List1:
  print(i,type(i))

1 <class 'int'>
2 <class 'int'>
vip <class 'str'>
True <class 'bool'>
1.0 <class 'float'>
[2, 3, 4] <class 'list'>
False <class 'bool'>
(1, 23, 4) <class 'tuple'>
23 <class 'int'>
45 <class 'int'>

In [ ]:
for i in range(1,26):
  if i%3==0:
    print(i)

In [24]:
# using while loop, verify if the number is purely divisible by number b and if so then how many times it can be divisible.

a= 32
b= 2
count=0

while a%b==0:
  count+=1
  a=a//b
print(count)

5

**Immutable refers to a state in which no change can occur over time. A Python object is referred to as immutable if we cannot change its value over time. The value of these Python objects is fixed once they are made.**

**Anything is said to be mutable when anything can be modified or changed. The term "mutable" in Python refers to an object's capacity to modify its values. These are frequently the things that hold a data collection.**

1. List of Mutable and Immutable objects
Python mutable data types:

Lists,
Dictionaries,
Sets,
User-Defined Classes (It depends on the user to define the characteristics of the classes)


2. Python immutable data types:

Numbers (Integer, Float, Complex, Decimal, Rational & Booleans),
Tuples,
Strings,
Frozen Sets

In [27]:
# example to demonstrate 
# list is a mutable data type in python

# our current list
var1 = [1,2,6,5,7,11]

# adding an element in our list
var1.append(16)
# printing our list after the operation
print("list after adding a value : ",var1)

# adding multiple elements in our list
# multiple elements (such as a list) can be added using update
var1[3]=([9,78,100])
# printing our list after the operation
print("list after updating some values : ",var1)

# removing element from our list
var1.remove(2)
# printing our set after the operation
print("list after removing a value : ",var1)

list after adding a value :  [1, 2, 6, 5, 7, 11, 16]
list after updating some values :  [1, 2, 6, [9, 78, 100], 7, 11, 16]
list after removing a value :  [1, 6, [9, 78, 100], 7, 11, 16]

In [29]:
# here we willtry to update string value with index number we will face error 'str' object does not support item assignment

a="shyam"
a[2]='e'

#tuples are also immutable we can fetch elements with indexing number but we cant update or delete in tuples
b=(1,2,3,4)

b.append(33)

TypeError: ignored